@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"); */

@theme {
  --color-health: #0077B6;
  --color-quran: #746751;
  --color-englishLevelOne: #BCA7F5;
  --color-englishLevelTwo: #5A2D82;
  --color-muslim: #746751;
  --color-arabic: #7E424A;
  --color-science: #D47C7C;
  --color-math: #D4C71C;
  --color-darkblue: #0C2D40;
  --color-deepnavy: #061A2F;
  --color-navyteal: #08233F;
  --color-orangedeep: #E89B32;
  --color-graycustom: #8C8C8C;
  --color-status: #1B648E;
  --color-cardBorder: #B2BBC3;
  --color-btnClicked: #D18C2D;
}

